<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.remobile.baidumap">
    <application>
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote"></service>
        <service android:name="com.baidu.trace.LBSTraceService" android:enabled="true" android:process=":remote"></service>
    </application>
</manifest>
